<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXssLibrary" version="0.1.111.24764" />
  <package id="AutoMapper" version="5.1.1.0" />
  <package id="CommonServiceLocator" version="2.0.4.0" />
  <package id="Google.Flexbox.Android" version="2.0.1" />
  <package id="Google.Protobuf" version="3.12.3.0" />
  <package id="I18NPortable.JsonReader" version="1.0.1.0" />
  <package id="I18NPortable" version="1.0.1.0" />
  <package id="JWT" version="7.0.0.0" />
  <package id="Java.Interop" version="0.1.0.0" />
  <package id="LumenWorks.Framework.IO" version="4.0.0" />
  <package id="Microsoft.CSharp" version="4.0.50524.0" />
  <package id="Microsoft.Security.Application.HtmlSanitization" version="0.1.111.24764" />
  <package id="Mono.Android" version="0.0.0.0" />
  <package id="Mono.Security" version="2.0.5.0" />
  <package id="MoreLinq" version="3.3.2.0" />
  <package id="NDB.Covid19.Base.AppleGoogle" version="1.0.0.0" />
  <package id="NDB.Covid19.Droid.GoogleApi" version="1.0.0.0" />
  <package id="NDB.Covid19.Droid.Shared" version="1.0.0.0" />
  <package id="NDB.Covid19" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="12.0.3.23909" />
  <package id="PCLCrypto" version="2.0.147.15665" />
  <package id="PInvoke.BCrypt" version="0.3.2.64456" />
  <package id="PInvoke.Kernel32" version="0.3.2.64456" />
  <package id="PInvoke.NCrypt" version="0.3.2.64456" />
  <package id="PInvoke.Windows.Core" version="0.3.2.64456" />
  <package id="Plugin.BLE.Abstractions" version="1.0.0.0" />
  <package id="Plugin.BLE" version="2.0.0" />
  <package id="Plugin.CurrentActivity" version="1.0.0.0" />
  <package id="Plugin.Permissions" version="1.0.0.0" />
  <package id="Plugin.SecureStorage.Abstractions" version="1.0.0.0" />
  <package id="Plugin.SecureStorage" version="2.0.0.0" />
  <package id="RSG.Promise" version="3.0.1.0" />
  <package id="RxJava2" version="1.0.0.0" />
  <package id="SQLite-net" version="1.7.335.0" />
  <package id="SQLitePCLRaw.batteries_v2" version="2.0.3.851" />
  <package id="SQLitePCLRaw.core" version="2.0.3.851" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="2.0.3.851" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="2.0.3.851" />
  <package id="System.Buffers" version="4.0.99.0" />
  <package id="System.Configuration.ConfigurationManager" version="4.700.19.56404" />
  <package id="System.Core" version="4.0.50524.0" />
  <package id="System.Data" version="4.0.50524.0" />
  <package id="System.Drawing.Common" version="4.0.0.0" />
  <package id="System.IO.Compression" version="4.0.50524.0" />
  <package id="System.Net.Http" version="4.0.50524.0" />
  <package id="System.Numerics" version="4.0.50524.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.0.0.0" />
  <package id="System.Runtime.Serialization" version="4.0.50524.0" />
  <package id="System.Security.AccessControl" version="4.700.19.56404" />
  <package id="System.Security.Permissions" version="4.700.19.56404" />
  <package id="System.Security.Principal.Windows" version="4.700.19.56404" />
  <package id="System.Security" version="4.0.50524.0" />
  <package id="System.Threading.Tasks.Extensions" version="4.0.0.0" />
  <package id="System.Xml.Linq" version="4.0.50524.0" />
  <package id="System.Xml" version="4.0.50524.0" />
  <package id="System" version="4.0.50524.0" />
  <package id="Unity.Abstractions" version="5.11.4.0" />
  <package id="Unity.Container" version="5.11.5.0" />
  <package id="Unity.ServiceLocation" version="5.11.1.0" />
  <package id="Validation" version="2.2.8.61273" />
  <package id="Xamarin.AndroidX.Activity" version="20200318.1" />
  <package id="Xamarin.AndroidX.Annotation" version="20200214.4" />
  <package id="Xamarin.AndroidX.AppCompat.Resources" version="20200214.4" />
  <package id="Xamarin.AndroidX.AppCompat" version="20200214.4" />
  <package id="Xamarin.AndroidX.Arch.Core.Common" version="20200214.4" />
  <package id="Xamarin.AndroidX.Arch.Core.Runtime" version="20200214.4" />
  <package id="Xamarin.AndroidX.AsyncLayoutInflater" version="20200214.4" />
  <package id="Xamarin.AndroidX.Browser" version="20200318.1" />
  <package id="Xamarin.AndroidX.CardView" version="20200214.4" />
  <package id="Xamarin.AndroidX.Collection" version="20200214.4" />
  <package id="Xamarin.AndroidX.ConstraintLayout.Solver" version="20200214.4" />
  <package id="Xamarin.AndroidX.ConstraintLayout" version="20200214.4" />
  <package id="Xamarin.AndroidX.CoordinatorLayout" version="20200214.4" />
  <package id="Xamarin.AndroidX.Core" version="20200318.1" />
  <package id="Xamarin.AndroidX.CursorAdapter" version="20200214.4" />
  <package id="Xamarin.AndroidX.CustomView" version="20200214.4" />
  <package id="Xamarin.AndroidX.DocumentFile" version="20200214.4" />
  <package id="Xamarin.AndroidX.DrawerLayout" version="20200214.4" />
  <package id="Xamarin.AndroidX.Fragment" version="20200318.1" />
  <package id="Xamarin.AndroidX.Interpolator" version="20200214.4" />
  <package id="Xamarin.AndroidX.Legacy.Support.Core.UI" version="20200214.4" />
  <package id="Xamarin.AndroidX.Legacy.Support.Core.Utils" version="20200214.4" />
  <package id="Xamarin.AndroidX.Lifecycle.Common" version="20200318.1" />
  <package id="Xamarin.AndroidX.Lifecycle.LiveData.Core" version="20200318.1" />
  <package id="Xamarin.AndroidX.Lifecycle.LiveData" version="20200318.1" />
  <package id="Xamarin.AndroidX.Lifecycle.Runtime" version="20200318.1" />
  <package id="Xamarin.AndroidX.Lifecycle.Service" version="20200318.1" />
  <package id="Xamarin.AndroidX.Lifecycle.ViewModel" version="20200318.1" />
  <package id="Xamarin.AndroidX.Lifecycle.ViewModelSavedState" version="20200318.1" />
  <package id="Xamarin.AndroidX.Loader" version="20200214.4" />
  <package id="Xamarin.AndroidX.LocalBroadcastManager" version="20200214.4" />
  <package id="Xamarin.AndroidX.Media" version="20200214.4" />
  <package id="Xamarin.AndroidX.Print" version="20200214.4" />
  <package id="Xamarin.AndroidX.RecyclerView" version="20200214.4" />
  <package id="Xamarin.AndroidX.Room.Common" version="20200330.3" />
  <package id="Xamarin.AndroidX.Room.Runtime" version="20200330.3" />
  <package id="Xamarin.AndroidX.SavedState" version="20200214.4" />
  <package id="Xamarin.AndroidX.SlidingPaneLayout" version="20200214.4" />
  <package id="Xamarin.AndroidX.Sqlite.Framework" version="20200316.2" />
  <package id="Xamarin.AndroidX.Sqlite" version="20200316.2" />
  <package id="Xamarin.AndroidX.SwipeRefreshLayout" version="20200214.4" />
  <package id="Xamarin.AndroidX.Transition" version="20200318.1" />
  <package id="Xamarin.AndroidX.VectorDrawable.Animated" version="20200214.4" />
  <package id="Xamarin.AndroidX.VectorDrawable" version="20200214.4" />
  <package id="Xamarin.AndroidX.VersionedParcelable" version="20200214.4" />
  <package id="Xamarin.AndroidX.ViewPager" version="20200214.4" />
  <package id="Xamarin.AndroidX.ViewPager2" version="20200214.4" />
  <package id="Xamarin.AndroidX.Work.Runtime" version="20200404.1" />
  <package id="Xamarin.Auth" version="1.6.0.1" />
  <package id="Xamarin.Essentials" version="1.0.0.0" />
  <package id="Xamarin.ExposureNotification" version="1.0.0.0" />
  <package id="Xamarin.Google.Android.Material" version="20200318.1" />
  <package id="Xamarin.Google.Guava.ListenableFuture" version="1.0.0.0" />
  <package id="Xamarin.GooglePlayServices.Base" version="20200526.5" />
  <package id="Xamarin.GooglePlayServices.Basement" version="20200527.5" />
  <package id="Xamarin.GooglePlayServices.Nearby.ExposureNotification" version="1.0.0.0" />
  <package id="Xamarin.GooglePlayServices.SafetyNet" version="20200511.3" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="20200527.5" />
  <package id="mscorlib" version="4.0.50524.0" />
</packages>